.book {
    aspect-ratio: 4 / 5;
    display: flex;
    color: var(--white);

    .book__spine {
        border-right: 2px solid var(--black);
        flex: 1;
    }

    .book__cover {
        flex: 18;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: .5rem;
        gap: .25rem;

        .book__title {
            font-size: 1.25rem;
        }

        .book__author {
            font-size: 12px;
            font-weight: 400;
        }

        .book__title--larger {
            font-size: 2.5rem;
        }

        .book__author--larger {
            font-size: 1rem;
        }
    }

    .book__cover--larger {
        padding: 1.5rem;
    }
}

.book-link {
    flex: 1;
}
